body {
     margin-top: 250px;
 }

@-webkit-keyframes cubinaire {
  from {
    -webkit-transform: rotate(0deg) translateY(200px) rotate3d(1,1,1,0deg);
  }
  to{
    -webkit-transform: rotate(360deg) translateY(200px) rotate3d(1,1,1,360deg);
  }
}

 #container {
  -webkit-perspective : 2000px;
  -webkit-perspective-origin  : 50% 50%;
 }

.animate {
  -webkit-animation : cubinaire 10s infinite linear;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  -webkit-transition  : -webkit-transform 2s linear;
  -webkit-transform-style : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 120px;
  width: 120px;
  padding: 20px;
  opacity: 0.9;
  background-position:center center;
  background-size: 100%;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(80px);
  background-image  : url(../assets/images/u.jpg);
  background-repeat : no-repeat;
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(80px);
  background-image  : url(../assets/images/r.jpg);
  background-repeat : no-repeat;
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(80px);
  background-image  : url(../assets/images/d.jpg);
  background-repeat : no-repeat;
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(80px);
  background-image  : url(../assets/images/l.jpg);
  background-repeat : no-repeat;
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(80px) rotate(180deg);
  background-image  : url(../assets/images/f.jpg);
  background-repeat :no-repeat;
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(80px);
  background-image  : url(../assets/images/b.jpg);
  background-repeat :no-repeat;
}